.FavouriteQuotes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 40%;
  width: auto;
  height: auto;
  min-height: 30%;
}

.Navigate {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
  height: 5%;
}