.Home {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: auto;
  max-height: 50%;
  min-width: 30%;
  max-width: 50%;
}

.Text {
  word-wrap: break-word;
  text-align: left;
  display: flex;  
  flex-wrap: wrap;
}