.Navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.Navbar li {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.Navbar li:hover {
    color: grey;
    transition: color 1s;
}

.Navbar a:hover {
    background-color: #111;
    transition: background-color 2000ms linear;
}
