.Navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #080808;
}

.Navbar li {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.Navbar li:hover {
    background-color: #0f1518;
    transition: background-color 1s;
}

