body {
    background-color: #F5F5F5;
    margin:0px;
    height:100%;
}

body.dark {
    color: white;
    background-color: rgb(51, 51, 51);
    margin:0px;
    height:100%;
}

.navbar {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}
  
.left-elements,
.right-elements {
    list-style: none;
    padding: 0;
    display: flex;
}
  
.left-elements li {
    margin-right: 20px;
}

.right-elements li {
    margin-right: 10px;
}
  
.left-elements a,
.right-elements a {
    text-decoration: none;
}